@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.main {
  height: 800px;
  width: 700px;
  background-image: linear-gradient(to right, #4e82ec, #55b3a8);
  position: fixed;
}
.tags {
  position: absolute;
  display: flex;
  top: 45px;
  left: 160px;
  z-index: 100;
  width: 230px;
  justify-content: space-between;
  height: 30px;
}
.first-tag {
  width: 130px;
  background: #5ec269;
  text-align: center;
  color: white;
  padding-top: 5px;
  font-weight: 300;
  border-radius: 5px;
}
.second-tag {
  width: 90px;
  background: #e2b53e;
  text-align: center;
  color: white;
  padding-top: 5px;
  font-weight: 300;
  border-radius: 5px;
}
.container {
  position: absolute;
  top: 60px;
  bottom: 40px;
  left: 100px;
  right: 100px;
  background: white;
  height: 700px;
  width: 500px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 40px;
}

.header {
  height: 140px;
}
.header-main {
  font-weight: 600;
  height: 40px;
  font-size: 30px;
  color: #845eed;
}

.header-content {
  display: flex;
  height: 60px;
  padding-top: 10px;
  box-sizing: border-box;
}
.price {
  width: 130px;
  font-weight: 600;
  font-size: 50px;
}
.content {
  height: 390px;
}

.content-header {
  font-weight: 400;
  color: #686868;
  font-size: 17px;
  margin-bottom: 20px;
}

.content-row {
  display: flex;
}

.arrow {
  width: 25px;
}
.content-description {
  width: 395px;
  font-weight: 400;
  padding-left: 6px;
  font-size: 18px;
  margin-bottom: 20px;
}
.month {
  align-self: end;
  font-weight: 500;
}
.button {
  height: 70px;
  background-color: black;
  border-radius: 18px;
  color: #f0f0f0;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  font-weight: 400;
  font-size: 19px;
}
